html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
html
{
	background:url(assets/bg.jpg) no-repeat center center fixed !important;
}
.navbar .navbar-nav>li>a { font-size:20px !important;}
body
{
	background:none !important;
}
.global_center_wrapper
{
	margin: auto;
	margin-top: 84px !important;
	max-width: 1000px;
}
.profile_cover
{
	width:100%;
	height:300px;
	margin:0px;
	background-size:cover !important;
	background-position:50% 50% !important;
	content:'';
}
.profile_image
{
	width: 128px;
	height: 128px;
	margin-left: 50px;
	margin-top: -64px;    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);  border-radius: 2px;  border: 0;
}
.profile_name
{
	margin-top: -42px;
    
	margin-left: 200px;
}
.profile_create_share_container
{
	margin-top: 20px;
	clear: both;
}
.profile_create_share_container div
{
	width: 238px;
	text-align:center;
	float:left;
	padding: 15px;
	margin: 6px;
	cursor:pointer;
}
.profile_create_share_container > div:hover
{
	background-color: aliceblue;
}
.profile_create_share_container div i
{
	color: #55acef;
	font-size: 54px;
}
.profile_create_share_container div span
{
	font-size: 24px !important;
}
.profile_big_container
{
	margin-top:10px;
}
.profile_share_container
{
}
.profile_stats_container
{
}
.profile_admin_options
{
	text-align: right;
	margin-top: -35px;
	/* margin-right: -5px; */
}
.create_share_dialog
{
	position: fixed;
	width: 770px;
	height: 700px;
	content: '';
	top: 50%;
	left: 50%;
	margin-top: -350px;
	margin-left: -385px;
	display:none;
}
.create_share_dialog > .bottom_container
{
	bottom: 45px;
	position: absolute;
	width: 710px;
}
.create_share_dialog > .bottom_container > div
{
	text-align: right;
	margin-right: -6px;
}
.create_share_dialog textarea, .form-control[type=text], select.form-control
{
}
.form-group
{
	clear:both !important;
}
.create_share_dialog  textarea
{
	height:320px;
}
.overlay
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background: url(http://wbcdn.webbudds.com/assets/blue-shade.png) center bottom no-repeat;
	background-color:rgba(0, 0, 0, 0.5) !important;
	background-size: cover;
	position: fixed;
	z-index: 1040;
	display:none;
}
.overlay img
{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
	width:48px;
	height:48px;
}
.share_page_panel
{
	margin-top:15px !important;
}

.share_view_title
{
	margin: 0px;
}
.share_view_top_panel, .category_panel
{
	background:#F7F7F7 !important;
}
.table-responsive table tr:even
{
	background:rgba(0,0,0,0.2) !important;
}
.analytics_h3
{
	font-size: 30px !important;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 15px;
}
.search_filter_div
{
	width:400px;
	margin-left:-200px;
	position:fixed;
	top:100px;
	left:50%;
	z-index:3;
	display:none;
}
.navbar-brand img
{
	width:90px;
}
footer
{
	background: #4285f4;
	width: 100%;
	height: 300px;
	color:white !important;
}
footer a
{
	color:white !important;
}
footer a:hover
{
	text-decoration:underline !important;
}
@media all and (max-width: 1024px) {
	
	body
	{
		background:#EEE !important;
	}
	.row
	{
		padding:10px !important;
	}
	
.navbar .navbar-nav>li>a { font-size:14px;}
	.profile_cover
	{
		display:none;
	}
	.profile_admin_options
	{
		text-align:center;
		float:none;
		margin:0 !important;
	}
	.profile_image
	{
		border-radius: 90px;
		left: 50%;
		margin-left: -64px;
		position: relative;
		margin-top: 0;
	}
	.profile_name
	{
		margin:0px !important;
	}
	.profile_create_share_container
	{
		margin: 20px;
		padding:10px;
		background:#FCFCFC;
		border:1px solid #ccc;
		border-radius:3px;
	}
	.profile_create_share_container div
	{
		width: 100%;
		text-align:center;
		margin:0px !important;
		float:none !important;
	}
	.profile_create_share_container div br
	{
		display:none;
	}
	.profile_create_share_container div i
	{
		display:none;
	}
	.profile_create_share_container div span
	{
		font-size:14px !important;
	}
	.create_share_dialog
	{
		position: absolute;
		width: 100%;
		height: auto;
		content: '';
		top: 0px;
		left: 0px;
		margin:15px;
	}
	.create_share_dialog > .bottom_container
	{
		bottom: 0;
		position: relative;
		width: 100%;
		padding-right: 20px;
	}
	.search_filter_div
	{
		width:200px;
		margin-left:-100px;
		position:fixed;
		top:10px;
		left:50%;
		z-index:3;
		display:none;
	}
	.navbar-brand img
	{
		width:30px;
	}
}